:root {
  --dark: #222831;
  --dark2: #393E46;
  --blue: #00ADB5;
  --gray: #eeeeee;
  --white:#fff;
  --blue-light: #00d3df;
}

body{color: var(--gray)}
/* body{background-color: var(--dark);} */
.answer-section{
  display:flex;
  flex-direction: column;
}

button {
  font-size: 16px;
  color: var(--white);
  /* background-color: var(--blue); */
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  outline: none;
  line-height: 3rem;
  margin:0.5rem;
}

button:hover {
  /* background-color: var(--blue-light) */
}

